@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

*{
  font-family: 'Pretendard-Regular';
}

ion-content {
  background-color: #000; // 어두운 배경 설정
}

.movies-container {
  padding: 10px;
}

.movie-poster {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 15px;
}

.movie-poster img {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
  transition: transform 0.3s;
}

.movie-poster:hover img {
  transform: scale(1.05); // 호버 시 확대 효과
}

.movie-title {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7); // 반투명 배경
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 14px;
}
.no-movies {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 400px;
  color: #3c3c3c;
  font-size: 20px;
}
