<ion-header>
  <ion-toolbar>
    <ion-title>좋아요한 영화</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="likedMovies.length > 0; else noMovies" class="movies-container">
    <ion-grid>
      <ion-row>
        <ion-col size="12" *ngFor="let movie of likedMovies">
          <ion-card class="movie-card">
            <div class="movie-item">
              <img class="poster" [src]="movie.posterUrl" alt="{{ movie.movietitle }} 포스터">
              <div class="details">
                <h2 class="movie-title">{{ movie.movietitle }}</h2>
                <p class="movie-info">
                  {{ movie.genre }} · {{ movie.nation }} <br>
                  {{ movie.runningTime }}분 · {{ movie.ratedYn ? '15세 이상 관람가' : '연령 제한 없음' }}
                </p>
              </div>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ng-template #noMovies>
    <div class="no-movies">
      관심있는 영화를 추가해보세요 :)
    </div>
  </ng-template>
</ion-content>
