<ion-content>
  <ion-list>
    <ion-item *ngFor="let collection of collections">
      <ion-label (click)="viewDetail(collection.id)">
        <div class="poster-row">
          <img *ngFor="let movie of collection.movies" [src]="movie.posterUrl" alt="Movie Poster" class="poster-image" />
        </div>
        
        <h2>{{ collection.name }}</h2>
      </ion-label>
      <ion-button color="danger" (click)="deleteCollection(collection.id)">삭제</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
