<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet">

<ion-header style="margin-top: 45px">
  <ion-toolbar color="white">
    <ion-buttons slot="start">
      <ion-back-button default-href="tabs/collection" (click)="goBackMyPage()" icon="close" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>My Collection</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list style="padding-top: 70px;">
    <ng-container *ngIf="collections.length > 0; else noCollections">
      <ion-item *ngFor="let collection of collections" (click)="viewDetail(collection.id)">
        <div class="collection-container">
          <div class="poster-row">
            <img *ngFor="let movie of collection.movies" [src]="movie.posterUrl" alt="Movie Poster" class="poster-image" />
          </div>
          <div class="details-row">
            <h2>{{ collection?.name }}</h2>
            <ion-button color="danger" (click)="handleDeleteAndNavigate(collection.id)" class="delete-button">삭제</ion-button>
          </div>
        </div>
      </ion-item>
    </ng-container>
    <ng-template #noCollections>
      <div class="no-collections-message">
        나만의 컬렉션을 만들어 보세요!
      </div>
    </ng-template>
  </ion-list>
</ion-content>
