
<ion-content>
  <div class="total" style="margin-top: 150px">
  <p class="signup-title">회원가입</p>
<div class="sign">
  <div class="text">
    <h1>영화를 리뷰하고<br>
      컬렉션을 만들어보세요!</h1>
  </div>

  <form (ngSubmit)="signUp()">
    <div class="login-box" >
      <div class="container">
      <label for="email">이메일</label>
      <ion-item lines="none">
        <input type="email" id="email" name="email" [(ngModel)]="email" placeholder="이메일을 입력하세요" required>
      </ion-item>
      </div>

      <div class="container">
        <label for="password">비밀번호</label>
      <ion-item lines="none">
        <input type="password" id="password" name="password" [(ngModel)]="password" placeholder="비밀번호를 입력하세요" required>
      </ion-item>
      </div>

      <div class="container">
        <label for="username">닉네임</label>
      <ion-item lines="none">
        <input type="username" id="username" name="username" [(ngModel)]="username" placeholder="닉네임을 입력하세요" required>
      </ion-item>
      </div>
    </div>
  </form>
</div>
    <ion-button class="signUp" expand="full" type="submit">회원가입</ion-button>


  </div>
</ion-content>
