
/*지민수정*/

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

*{
  font-family: 'Pretendard-Regular';
}
.hide-header {
  display: none;
}

.logo_image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  margin: 20px 0;
}
.logo_image img{
  text-align: center;
  width: 120px;
  height: auto;

}
.sign{
  //margin-top: 200px;
  padding: 0 10px;
}
.signup-title{
  color: #db4a2b;
  text-align: center;
  display: block;
  font-weight: bold;
  font-size: 35px;
  margin-top: 60px


}
.createAccountTitle {
  margin: 0 auto;
  font-size: 23px;
  font-weight: bold;
  text-align: center;
  color: #e06142;
}


.text h1{

  font-size: 17px;
  text-align: center;
  color: #5e5e5e;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 40px;

}

form {
padding: 0 20px 20px 20px;
}

.login-box {
  display: flex;
  flex-direction: column;
}

label {
  display: block;
  margin-left: 32px;
  font-weight: bold;
  color: #3e3e3e;
  font-size: 18px;
  white-space: nowrap;
}
.container{
  margin-bottom: 10px;
}

input[type="username"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: none;
}

input {
  background: white;
  //border: 2px solid rgb(255, 118, 67) !important;
  height: 50px;
  border-radius: 15px !important;
  margin: 10px;
}

input:focus{
  //border-color: #292929;
  background-color: rgb(255, 255, 255);
  outline: none;
  border-width: 1px;
}


/* 회원가입 버튼 스타일 */
.signUp {
  margin: 0 30px 0 30px;
  height: 70px;
  border-radius: 15px; /* 모서리 둥글기 */
  padding: 7px 20px;
}

.signUp::part(native) {
  background-color: #edecec;
  color: #1c1c1c;
  border-radius: 15px; /* 모서리 둥글기 */
  padding: 7px 20px;
}

ion-button:disabled {
  background-color: white;
  color: #000;

}

.backLoginBtn::part(native) {
  background-color: white;
  color: #000;
}
