<!--<div style="text-align: center; margin-top:80px">-->
<!--  <img src="assets/images/logo_mongDDang.png" alt="로고이미지_가로" style="width:280px; height: auto;">-->
<!--</div>-->
<!--<ion-content>-->
<!--  <h1 class="login-title">로그인</h1>-->

<!--  <form (ngSubmit)="login()">-->
<!--    <div class="login-box">-->
<!--      <ion-item>-->
<!--        <ion-label position="floating">이메일</ion-label>-->
<!--        <ion-input [(ngModel)]="email" name="email" type="text"></ion-input>-->
<!--      </ion-item>-->

<!--      <ion-item>-->
<!--        <ion-label position="floating">비밀번호</ion-label>-->
<!--        <ion-input [(ngModel)]="password" name="password" type="password" required></ion-input>-->
<!--      </ion-item>-->
<!--    </div>-->
<!--    <ion-button (click)="login()" expand="full" type="submit">로그인</ion-button>-->
<!--  </form>-->
<!--      <div class="center-text">-->
<!--      <span class="account-text">계정이 없으신가요? </span>-->
<!--      <span class="signup-text" (click)="goToCreateAccountPage()">회원가입</span>-->
<!--    </div>-->

<!--&lt;!&ndash;  <ion-button (click)="logout()" expand="full" type="button">로그아웃</ion-button>&ndash;&gt;-->
<!--</ion-content>-->






<!--지민수정-->
<div style="text-align: center; margin-top:120px">
  <img src="assets/images/logo_mongDDang.png" alt="로고이미지_가로" style="width:200px; height: auto;">
</div>

<ion-content>
  <h1 class="login-title" style="margin-top: 10px">로그인</h1>
<div class="login" style="margin: 10px">
  <div class="login-box" style="margin-top: 60px">
    <ion-item>
      <ion-input labelPlacement="stacked"  placeholder="email">
        <ion-icon slot="start" name="person" aria-hidden="true" style="color:grey"></ion-icon>
      </ion-input>
    </ion-item>
  </div>

<div class="password-box">
  <ion-item>
    <ion-input labelPlacement="stacked"  placeholder="password">
      <ion-icon slot="start" name="lock-closed" aria-hidden="true" style="color:grey"></ion-icon>
    </ion-input>
  </ion-item>
</div>
</div>

  <ion-button (click)="login()" expand="full" type="submit">로그인</ion-button>
  <ion-button class="sign-up" (click)="goToCreateAccountPage()" expand="full">회원가입</ion-button>


<!--    <ion-button (click)="logout()" expand="full" type="button">로그아웃</ion-button>-->
</ion-content>

