<ion-header [translucent]="true"></ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" style="position: relative;">
    <ion-icon name="arrow-back" class="backBtn" (click)="goBackHomePage()"></ion-icon>

    <img alt="" [src]="movie.stillUrl" style="width: 430px; height:550px; object-fit: cover;">
    <div class="detailsImage">
      <a class="movieTitle">{{movie.title}}</a><br>
      <a class="rate_star"> ★</a><a class="rate_num">{{movie.favorite}}</a><br>
      <a class="detailIn">{{movie.title}}<br>
        {{ movie.releasedAt || '개봉일 미정' }} · {{ movie.genre }} · {{ movie.nation }} <br>
        {{ movie.runningTime }}분 · {{ movie.ratedYn ? '15세 이상 관람가' : '연령 제한 없음' }} <br> <br>
        상영 회사: {{ movie.company }}<br>
        {{ movie.favorite }}
      </a>
    </div>
    <!-- 컬렉션 우측 위의 좋아요 아이콘 제거 -->
  </ion-header>

  <ion-grid [fixed]="true">
    <ion-row class="detail-row">
      <ion-col class="detail-col-want" (click)="toggleLike()">
        <ion-icon
          [name]="isLiked ? 'heart' : 'heart-outline'"
          [style.color]="isLiked ? 'red' : '#ededed'"
          style="font-size: 40px;">
        </ion-icon>
        <div class="text">좋아요</div>
      </ion-col>
      <ion-col class="detail-col">
        <ion-icon (click)="goToCommentWritePage()" name="create-outline"></ion-icon>
        <div class="text">코멘트 작성</div>
      </ion-col>

      <ion-col class="detail-col" (click)="navigateToCollectionAdd()">

        <ion-icon name="bookmark-outline"></ion-icon>
        <div class="text" (click)="goToAddCollectionPage()">컬렉션에 추가</div>
      </ion-col>
    </ion-row>
  </ion-grid>


  <!-- Movie Summary -->
  <a class="summ">줄거리</a>
  <a class="summary">{{movie.contents}}</a>
  <img class="poster" alt="" [src]="movie.posterUrl">


  <!-- Cast and Crew Section -->
  <ion-label class="personTitle">출연/제작</ion-label>
  <ion-item class="person" lines="none">
    <ion-avatar aria-hidden="true" slot="start">
      <img class="unknowImage" src="https://upload.wikimedia.org/wikipedia/commons/e/ee/Unknown-person.gif" alt="">
    </ion-avatar>
    <ion-label>
      <h3>감독</h3>
      <p>{{movie.directorName}}</p>
    </ion-label>
  </ion-item>

  <ion-item class="person" lines="none">
    <ion-avatar aria-hidden="true" slot="start">
      <img class="unknowImage" src="https://upload.wikimedia.org/wikipedia/commons/e/ee/Unknown-person.gif" alt="">
    </ion-avatar>
    <ion-label>
      <h3>주연</h3>
      <p>{{movie.actor}}</p>
    </ion-label>
  </ion-item>

  <!-- Comment Section -->
<!--  <div class="comment-container">-->
<!--    <ion-label class="commentTitle">코멘트</ion-label>-->
<!--    <span class="commentCount">50+</span>-->
<!--    <span class="moreComment" (click)="goToCommentListPage()">더보기</span>-->
<!--  </div>-->



  <ion-fab style="margin-top: 55px; margin-right: 5px"  slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon (click)="goToCommentListPage()" name="chatbox-ellipses-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon (click)="goToCommentWritePage()" name="create-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

<!--  <ion-card>-->
<!--    <ion-list>-->
<!--      <ion-item>-->
<!--        <div class="comment_profile">-->
<!--          <ion-avatar slot="start">-->
<!--            <img alt="프로필 사진" src="https://ionicframework.com/docs/img/demos/avatar.svg"/>-->
<!--          </ion-avatar>-->
<!--          <ion-label>(유저네임)</ion-label>-->
<!--        </div>-->
<!--      </ion-item>-->

<!--      &lt;!&ndash; 영화 이미지와 코멘트 &ndash;&gt;-->
<!--      <ion-item lines="none">-->
<!--        <ion-label>-->
<!--          <h2 class="comment-베테랑2">(영화제목)</h2>-->
<!--          <p class="comment">-->
<!--            (코멘트내용)-->
<!--          </p>-->
<!--        </ion-label>-->
<!--      </ion-item>-->
<!--      &lt;!&ndash; 좋아요 및 댓글 버튼 &ndash;&gt;-->
<!--      <ion-item class="good_and_comment">-->
<!--&lt;!&ndash;        <ion-button fill="clear" class="text-button">&ndash;&gt;-->
<!--&lt;!&ndash;          <ion-icon name="thumbs-up"></ion-icon> 1,004&ndash;&gt;-->
<!--&lt;!&ndash;        </ion-button>&ndash;&gt;-->
<!--&lt;!&ndash;        <ion-button fill="clear" class="text-button">&ndash;&gt;-->
<!--&lt;!&ndash;          <ion-icon name="thumbs-down"></ion-icon> 127&ndash;&gt;-->
<!--&lt;!&ndash;        </ion-button>&ndash;&gt;-->
<!--      </ion-item>-->
<!--      <ion-item lines="none">-->
<!--        <ion-button fill="clear" class="text-button"><ion-icon name="thumbs-up-sharp"></ion-icon></ion-button>-->
<!--        <ion-button fill="clear" class="text-button"><ion-icon name="chatbubbles-sharp"></ion-icon></ion-button>-->
<!--      </ion-item>-->
<!--    </ion-list>-->
<!--  </ion-card>-->
</ion-content>
