<ion-header [translucent]="true"></ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" style="position: relative;">
    <ion-icon name="arrow-back" class="backBtn" (click)="goBackHomePage()"></ion-icon>

    <img alt="" [src]="movie.posterUrl" style="width: 430px; height:550px; object-fit: cover;">
    <div class="detailsImage">
      <a class="movieTitle">{{movie.title}}</a><br>
      <a class="rate_star"> ★</a><a class="rate_num">{{movie.favorite}}</a><br>
      <a class="detailIn">{{movie.title}}<br>
        {{ movie.releasedAt || '개봉일 미정' }} · {{ movie.genre }} · {{ movie.nation }} <br>
        {{ movie.runningTime }}분 · {{ movie.ratedYn ? '15세 이상 관람가' : '연령 제한 없음' }} <br> <br>
        상영 회사: {{ movie.company }}<br>
        {{ movie.favorite }}위
      </a>
    </div>
    <!-- 컬렉션 우측 위의 좋아요 아이콘 제거 -->
  </ion-header>

  <ion-grid [fixed]="true">
    <ion-row class="detail-row">
      <ion-col class="detail-col-want" (click)="toggleLike()">
        <ion-icon
          [name]="isLiked ? 'heart' : 'heart-outline'"
          [style.color]="isLiked ? 'red' : '#ededed'"
          style="font-size: 40px;">
        </ion-icon>
        <div class="text">좋아요</div>
      </ion-col>
      <ion-col class="detail-col">
        <ion-icon (click)="goToCommentWritePage()" name="create-outline"></ion-icon>
        <div class="text">코멘트 작성</div>
      </ion-col>



      <ion-col class="detail-col" (click)="presentCollectionModal()">
        <ion-icon name="bookmark-outline"></ion-icon>
        <div class="text">컬렉션에 추가</div>
      </ion-col>

      <!-- 첫 번째 모달 -->
      <ion-modal [isOpen]="isCollectionModalOpen" (didDismiss)="closeCollectionModal()" id="example-modal">
        <ng-template>
          <div class="wrapper">
            <h1>컬렉션 추가</h1>
            <ion-list lines="none">
              <ion-item
                *ngFor="let collection of collections"
                button="true"
                detail="false"
                (click)="openSecondModal(collection)">
                <ion-icon name="person-circle"></ion-icon>
                <ion-label>{{ collection.name }}</ion-label>
              </ion-item>
            </ion-list>
          </div>
        </ng-template>
      </ion-modal>

      <!-- 두 번째 모달 -->
      <ion-modal [isOpen]="isSecondModalOpen" (didDismiss)="closeSecondModal()" id="example-modal">
        <ng-template>
          <div class="wrapper">
            <h1>새로운 컬렉션 {{ selectedItem.name }}</h1>
            <ion-button (click)="closeSecondModal()">추가</ion-button>
          </div>
        </ng-template>
      </ion-modal>
    </ion-row>
  </ion-grid>
  <hr><br>

  <!-- Movie Summary -->
  <a class="summ">줄거리</a>
  <a class="summary">{{movie.contents}}</a>
  <img class="poster" alt="" [src]="movie.posterUrl">

  <!-- Gallery Section -->
  <ion-label class="gallery_text">갤러리</ion-label>
  <div class="gallery_img">
    <ion-button (click)="presentGalleryModal(movie.stillUrl)" fill="clear">
      <img alt="이미지 버튼" [src]="movie.stillUrl">
    </ion-button>
  </div>

  <!-- Modal -->
  <ion-modal [isOpen]="isGalleryModalOpen" (didDismiss)="closeGalleryModal()" class="example-modal">
    <ng-template>
      <ion-content>
        <img [src]="selectedImage" alt="모달 이미지" style="width: 100%;">
        <ion-button (click)="closeGalleryModal()">Close</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>

  <!-- Video Section -->
  <ion-label class="video_text">동영상</ion-label>
  <div class="video_clip">
    <img alt="" src="assets/images/베테랑2_teaser_clip.png">
    <img alt="" src="assets/images/베테랑2_main_clip.png">
  </div>

  <!-- Cast and Crew Section -->
  <ion-label class="personTitle">출연/제작</ion-label>
  <ion-item class="person" lines="none">
    <ion-avatar aria-hidden="true" slot="start">
      <img class="unknowImage" src="https://upload.wikimedia.org/wikipedia/commons/e/ee/Unknown-person.gif" alt="">
    </ion-avatar>
    <ion-label>
      <h3>감독</h3>
      <p (click)="goToMovieCharacterPage()">{{movie.directorName}}</p>
    </ion-label>
  </ion-item>

  <ion-item class="person" lines="none">
    <ion-avatar aria-hidden="true" slot="start">
      <img class="unknowImage" src="https://upload.wikimedia.org/wikipedia/commons/e/ee/Unknown-person.gif" alt="">
    </ion-avatar>
    <ion-label>
      <h3>주연</h3>
      <p (click)="goToMovieCharacterPage()">{{movie.actor}}</p>
    </ion-label>
  </ion-item>

  <!-- Comment Section -->
  <div class="comment-container">
    <ion-label class="commentTitle">코멘트</ion-label>
    <span class="commentCount">50+</span>
    <span class="moreComment" (click)="goToCommentListPage()">더보기</span>
  </div>

  <ion-card>
    <ion-list>
      <ion-item>
        <div class="comment_profile">
          <ion-avatar slot="start">
            <img alt="프로필 사진" src="https://ionicframework.com/docs/img/demos/avatar.svg"/>
          </ion-avatar>
          <ion-label>메타몽</ion-label>
        </div>
      </ion-item>

      <ion-item lines="none">
        <ion-label>
          <h2 class="comment-베테랑2">베테랑2</h2>
          <p class="comment">영화 관련 코멘트...</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
