<ion-buttons slot="start">
  <ion-back-button default-href="tabs/home" icon="close" text=""></ion-back-button>
</ion-buttons>
<ion-content>



<div class="actor-container">
<div class="person">
  <div class="avatar">
    <img alt="" src="assets/images/동상.png" />
  </div>
  <div class="person-info">
    <span class="name">황정민</span>

    <span class="job">배우</span>
  </div>
</div>

  <hr class="line">
  <ion-button id="rounded-box" fill="clear" class="text-button">좋아요</ion-button>
</div>

<div>
  <ion-list>
    <ion-item lines="none">
    <ion-thumbnail slot="start">
      <img alt="인사이드 아웃2" src="https://search.pstatic.net/common?quality=75&direct=true&src=https%3A%2F%2Fmovie-phinf.pstatic.net%2F20240612_151%2F1718180074487NH0V5_JPEG%2Fmovie_image.jpg" />
    </ion-thumbnail>
    <ion-label>
      <h2>베테랑2</h2>
      <p class="">2024</p>
    </ion-label>
  </ion-item>

  </ion-list>
</div>
</ion-content>

