// src/app/pages/your-page/your-page.page.scss

.createAccountTitle {
  margin: 10px auto;
  font-size: 23px;
  font-weight: bold;
  text-align: center;
  color: #db4a2b;
}

div {
  margin-bottom: 16px;
  margin-left: 20px;
  margin-right: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: black;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: none;
}

.center-text {
  text-align: center;
  display: block;
}

.account-text {
  color: grey;
  font-size: 15px;
}

.signup-text {
  color: #db4a2b;
  font-size: 15px;
}

.divider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.divider-line {
  border: none;
  border-top: 1px solid lightgray;
  flex: 1;
  margin: 0 10px;
}

.divider-text {
  color: grey;
  font-size: 14px;
}

/* 회원가입 버튼 스타일 */
.signUp {
  margin: 40px 25px 15px 25px;
  background-color: #db4a2b;
  color: #000;
  border-radius: 8px;
}

.signUp::part(native) {
  background-color: #db4a2b;
  color: #000;
}


/* 뒤로 가기 버튼 스타일 */
.backLoginBtn {
  margin: 15px 25px 40px 25px;
  background-color: #a59c9c;
  color: #000;
  border-radius: 8px;
}

.backLoginBtn::part(native) {
  background-color: #a59c9c;
  color: #000;
}

ion-button:disabled {
  background-color: gray;
  color: #000;
}
