<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" style="position:  relative;">
    <ion-icon name="arrow-back" class="backBtn" (click)="goBackHomePage()"></ion-icon>
    <img alt="" src="https://image.cine21.com/resize/cine21/still/2024/0820/14_48_00__66c42e1009123[S750,750].jpg"
      style="width: 430px; height:550px; object-fit: cover; ">
    <div class="detailsImage">
      <a class="movieTitle">베테랑2</a> <br>
      <a class="detailIn">베테랑 2 <br>
          2024 · 범죄/액션/드라마 · 한국 <br>
          1시간 58분 · 15세 <br> <br>
          예매 순위 1위(31%) · 개봉 12일전 · 누적 관객 0명</a>
    </div>
  </ion-header>

  <div class="star">
    <ion-icon name="star"></ion-icon>
    <ion-icon name="star"></ion-icon>
    <ion-icon name="star"></ion-icon>
    <ion-icon name="star"></ion-icon>
    <ion-icon name="star"></ion-icon>
    <br><a class="평가하기">평가하기</a>
  </div>

  <hr>
  <ion-grid [fixed]="true">
    <ion-row class="detail-row">
      <ion-col class="detail-col-want">
        <ion-icon name="happy-outline"></ion-icon>
        <div class="text">보고싶어요</div>
      </ion-col>
      <ion-col class="detail-col">
        <ion-icon (click)="goToCommentWritePage()"  name="create-outline"></ion-icon>
        <div class="text">코멘트</div>
      </ion-col>
      <ion-col class="detail-col">
        <ion-icon name="sad-outline"></ion-icon>
        <div class="text">관심없어요</div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <hr>
  <a class="summ">줄거리</a>
  <a class="summary">
    가족들도 못 챙기고 밤낮 없이 범죄들과 싸우는 베테랑 형사 '서도철'(황정민)과 강력범죄수사대 형사들.
    어느 날, 한 교수의 죽음이 이전에 발생했던 살인 사건들과 연관성이 있는 것으로 밝혀지며 전국은 연쇄살인범으로 인해 떠들썩해진다.
    이에 단서를 추적하며 수사를 시작한 형사들. 하지만 이들을 비웃기라도 하듯, 연쇄살인범은 다음 살인 대상을 지목하는 예고편을 인터넷에 공개하며 또 한 번 전 국민을 흔들어 놓는다.
    강력범죄수사대는 서도철의 눈에 든 정의감 넘치는 막내 형사 '박선우' (정해인)를 투입한다.
    그리고 사건은 새로운 방향으로 흐르게 되는데...
  </a>
  <img class="poster" alt="" src= "https://image.cine21.com/resize/cine21/poster/2024/0826/10_43_11__66cbddaf49c14[X230,330].jpg" />
  <ion-label class="personTitle"> 출연/제작 </ion-label>
  <ion-item class="person" button detail="true">
    <ion-avatar aria-hidden="true" slot="start">
      <img alt="" src="https://d3ihz389yobwks.cloudfront.net/1597460401462931326056635100.jpg"/>
    </ion-avatar>
    <ion-label>
      <h3>감독</h3>
      <p>류승완</p>
    </ion-label>
  </ion-item>
  <ion-item class="person" button detail="true">
    <ion-avatar aria-hidden="true" slot="start">
      <img alt="" src="https://i.pinimg.com/originals/da/db/12/dadb12aaea59a6a7f48db400de12d0a5.png" />
    </ion-avatar>
    <ion-label>
      <h3>주연</h3>
      <p>황정민</p>
    </ion-label>
  </ion-item>
  <ion-item class="person" button detail="true">
    <ion-avatar aria-hidden="true" slot="start">
      <img alt="" src="https://img1.newsis.com/2023/12/13/NISI20231213_0001435685_web.jpg" />
    </ion-avatar>
    <ion-label>
      <h3>주연</h3>
      <p>정해인</p>
    </ion-label>
  </ion-item>
  <div class="comment-container">
    <ion-label class="commentTitle"> 코멘트 </ion-label>
    <span class="commentCount">50+</span>
    <span class="moreComment">더보기</span>
  </div>
    <ion-card>
      <ion-list>
        <!-- 사용자 프로필 -->
        <ion-item>
          <div class="comment_profile">
            <ion-avatar slot="start">
              <img alt="프로필 사진" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
            <ion-label>메타몽</ion-label>
          </div>
        </ion-item>
        <!-- 영화 이미지와 코멘트 -->
        <ion-item lines="none">
          <ion-label>
            <h2 class="comment-베테랑2">베테랑2</h2>
            <p class="comment">
              서울의 봄 GV 때 류승완 감독님이 직접 밝히신 공식 정보 세가지.<br><br>
              1. 올 겨울 개봉. 영화 배경이 겨울이라서 그렇답니다. 12월 확정인듯... 었으나, 추석으로 앞당겨짐.<br>
              2. 관객들 기대와는 달리 좀 분위기가 어두워졌답니다. 2편 악역이 연쇄살인범이라는데, 그래서인듯.<br>
              3. 정해인이 아주 멋지게 나온답니다....ㅋㅋㅋ 디피의 안준호 이병 텐션 생각하면 기대되네요.<br>
              4. 전 편처럼 통쾌한 스타일로 달려가는 작품은 아니다, 그렇다고 유머가 없는 건 아니다.(전주국제영화제의 죽거나 혹은 나쁘거나 gv 때 밝힌 정보)<br><br>

              더 문 이후로 역대 한국영화 두 번째로 돌비시네마 공식 지원(Atmos, Vision).
            </p>
          </ion-label>
        </ion-item>
        <!-- 좋아요 및 댓글 버튼 -->
        <ion-item class="good_and_comment">
          <ion-button fill="clear" class="text-button">
            <ion-icon name="thumbs-up"></ion-icon> 1,004
          </ion-button>
          <ion-button fill="clear" class="text-button">
            <ion-icon name="thumbs-down"></ion-icon> 127
          </ion-button>
        </ion-item>
        <ion-item lines="none">
          <ion-button fill="clear" class="text-button"><ion-icon name="heart-outline"></ion-icon></ion-button>
          <ion-button fill="clear" class="text-button"><ion-icon name="chatbox-outline"></ion-icon></ion-button>
        </ion-item>
      </ion-list>
    </ion-card>
</ion-content>


