<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" style="position:  relative;">
    <ion-icon name="arrow-back" class="backBtn" (click)="goBackHomePage()"></ion-icon>
    <img alt="" src="https://image.cine21.com/resize/cine21/still/2024/0820/14_48_00__66c42e1009123[S750,750].jpg"
      style="width: 430px; height:550px; object-fit: cover; ">
    <div class="detailsImage">
      <a class="movieTitle">베테랑2</a> <br>
      <a class="detailIn">베테랑 2 <br>
          2024 · 범죄/액션/드라마 · 한국 <br>
          1시간 58분 · 15세 <br> <br>
          예매 순위 1위(31%) · 개봉 12일전 · 누적 관객 0명</a>
    </div>
  </ion-header>
</ion-content>

