.home_wrapper{
  overflow-y: scroll;
  scrollbar-width: none;
}

.home_wrapper::-webkit-scrollbar {
  display: none;
 }

.toolbar_list {
  display: flex; /* 가로 정렬 */
  list-style: none; /* 기본 리스트 스타일 제거 */
  padding: 0;
  margin: 0;
}
.toolbar_list ion-button {
  --margin: 0;
  --border: none;
  --box-shadow: none;
  --color: grey;
  font-size:18px;
  font-weight: bold;
}
.toolbar_list ion-button:hover{
  --color: black;
}
.toolbar_list ion-button ::after{
  position: relative;
  left: 15px;
  width: 1px;
  height: 13px;
  content: "";
  background: black;
}



.logo_image {
  width: auto;  /* 이미지 너비 */
  height: 44px;

  display: block;  /* 이미지 블록 요소로 설정 */
}
ion-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toolbar_list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.toolbar_list li {
  margin-right: 15px; /* 항목 간의 간격 조절 */
}

.toolbar_logo {
  margin-left: auto; /* 리스트와 이미지 사이에 자동 여백 */
}

.logo_image {
  width: 100px; /* 이미지 너비 조절 */
  height: auto; /* 이미지 비율 유지 */
}
.preview {
  text-align: center; /* 텍스트와 이미지 가운데 정렬 */
}

.preview img{
  width: 400px;
  height: 180px;
  display: inline-block;
  border-radius: 15px;
}

p{
  font-size: 20px;
  margin-left: 16px;
}

.home_comment {
  margin-top: 20px;
  margin-bottom: 50px;
}

//comment: 택스트 크기 설정
.home_comment ion-card-title {
  font-size: 18px;
}
.comment{
  font-size: 15px;
  margin-top: 10px;
  overflow-y: hidden;
}


//profile: 크기 조절
.comment_profile {
  display: flex;
  align-items: center;

}
ion-card-header {
  padding-bottom: 8px;
}
ion-avatar {
  width: 30px; /* 아이콘의 너비 조정 */
  height: 30px; /* 아이콘의 높이 조정 */
}

ion-avatar img {
  width: 100%; /* 이미지의 너비를 ion-avatar에 맞추기 */
  height: 100%; /* 이미지의 높이를 ion-avatar에 맞추기 */
  object-fit: cover; /* 이미지가 영역을 채우면서 비율 유지 */
}

ion-label {
  margin-left: 5px; /* 이미지와 레이블 사이에 여백 */
}

.comment-card{
  margin: 15px;
}

//comment: 이미지 크기 설정
ion-thumbnail {
  width: 70px;
  height: 100px;
}
ion-thumbnail img {
  width: 70px;
  height: 100px;
  border-radius: 5px;
  object-fit: cover; /* 이미지 비율 유지하면서 썸네일에 맞게 조정 */
}

.home_comment ion-item {
  --border-width: 0;
  --inner-border-width: 0;
}

.text-button{
  color: black;
  font-size: 15px;
}
.text-button ion-icon {
  font-size: 18px; /* 아이콘의 크기 조절 */
  margin-right: 3px;

}

.box_office_rankings {
  width: 430px;
  margin-bottom: 30px;
}
.box_office_rankings .label {
  font-size: 20px;
  font-weight: 700;
  padding: 14px 0;
}

.box_office_rankings .movie_list {
  width: 100%;
  height: 300px;
  overflow-x: scroll;
  overflow-y: hidden;

   //가로 스크롤 없애기, 대신 mobile에서만 스크롤 가능함
   -ms-overflow-style: none;
   scrollbar-width: none;

   ::-webkit-scrollbar {
     display: none;
   }
}

.movie_list{
  margin-top: 10px;
}
.box_office_rankings .movie_list ul {
  width: auto;
  gap: 12px;
  display: inline-flex;
  flex-wrap: nowrap;
  overflow: visible;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.box_office_rankings .movie_list ul li {
  width: 120px; //왓챠피디아에서 그대로 이미지 가져온거라 따로 이미지 크기는 조정안함
}

.box_office_rankings .movie_list ul li img {
  margin-left: 16px; /* 리스트 항목 내 모든 이미지의 왼쪽 마진 */
  border-radius: 5px;

}

.box_office_rankings .movie_list ul li .description {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;


  .title {
    font-size: 16px;
    font-weight: 400;
    // 길어지면 ... 처리
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .year_country {
    font-size: 14px;
  }

  .sub {
    font-size: 13px;
    color: #7e7e7e;
  }
}

.actor h4{
  color: grey;
}

