<ion-header>
  <img src="assets/images/logo_mongDDang.png" alt="로고이미지_가로" style="width:180px; height: auto;">
</ion-header>

<!--<ion-header [translucent]="true">-->
<!--      <ul class="toolbar_list">-->
<!--        <li class="toolbar_movie">-->
<!--          <ion-button color="white">영화</ion-button>-->
<!--        </li>-->
<!--        <li class="toolbar_series">-->
<!--          <ion-button (click)="goToSeriesPage()" color="white">시리즈</ion-button>-->
<!--        </li>-->
<!--        <li class="toolbar_book">-->
<!--          <ion-button (click)="goToBookPage()" color="white">책</ion-button>-->
<!--        </li>-->
<!--        <li class="toolbar_cartoon">-->
<!--          <ion-button color="white">웹툰</ion-button>-->
<!--        </li>-->
<!--      </ul>-->
<!--</ion-header>-->
<div class="home_wrapper">
  <ion-searchbar color="light" show-clear-button="never" placeholder="찾고 있는 영화를 검색하세요" style="padding: 0 15px 15px 15px;"></ion-searchbar>

<div class="preview">
  <img src="assets/images/kevin.png" alt="프리뷰" style="object-fit: cover; width: 430px; height: 210px; position: relative;">
  <div class="kevin_text">
    <a class="HOT">🎅HOT🎄</a><br>
    <a class="nows_HOT">크리스마스에 생각나는 영화</a>
  </div>
  <a class="preview_count">1/2</a>
</div>
  <div class="home_comment">
    <p class="bold_title">
      지금 뜨는 코멘트
        <ion-icon (click)="goToCommentPage()" name="chevron-forward-outline"></ion-icon>
    </p>
    <ion-card class="comment-card">
      <ion-card-header class="comment-card-header">
        <div class="comment_profile">
          <ion-avatar aria-hidden="true" slot="start">
            <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
          <ion-label>메타몽</ion-label>
        </div>
      </ion-card-header>
      <ion-item>
        <!-- 영화 이미지-->
        <ion-thumbnail slot="start">
          <img alt="인사이드 아웃2" src="https://search.pstatic.net/common?quality=75&direct=true&src=https%3A%2F%2Fmovie-phinf.pstatic.net%2F20240612_151%2F1718180074487NH0V5_JPEG%2Fmovie_image.jpg" />
        </ion-thumbnail>
        <ion-content>
          <ion-card-title class="now-comment-card-title">인사이드 아웃2</ion-card-title>
          <div class="comment">
            결국 시작은 '잘 해내야한다'는 불안감. 그냥 좀 못합시다, 뭐 어때요
          </div>
        </ion-content>
      </ion-item>
      <ion-button fill="clear" class="text-button"><ion-icon name="heart-outline"></ion-icon>1,004</ion-button>
      <ion-button fill="clear" class="text-button"><ion-icon name="chatbox-outline"></ion-icon>127</ion-button>
    </ion-card>

  </div>
  <div class="box_office_rankings">
    <p class="bold_title">박스오피스 순위</p>
    <section class="movie_list">
      <ul>
        <li *ngFor="let movie of boxOfficeRankings">
          <img src="{{ movie.imgSrc }}" />
          <div class="description">
            <p class="title">{{ movie.title }}</p>
            <p class="year_country">{{ movie.year }} ・ {{ movie.country }}</p>
            <p class="sub">
              예매율 {{movie.reservationRate}}% 누적 관객 {{
                movie.cumulativeAudience }}
            </p>
          </div>
        </li>

      </ul>
    </section>
  </div>
<!--  <div class="star">-->
<!--    <p>평균별점이 높은 작품</p>-->
<!--  </div>-->
  <div class="box_office_rankings">
    <p class="bold_title">평균별점이 높은 작품</p>
    <section class="movie_list">
      <ul>
        <li *ngFor="let movie of boxOfficeRankings">
          <img src="{{ movie.imgSrc }}" />
          <div class="description">
            <p class="title">{{ movie.title }}</p>
            <p class="year_country">{{ movie.year }} ・ {{ movie.country }}</p>
            <p class="sub">
              예매율 {{movie.reservationRate}}% 누적 관객 {{
                movie.cumulativeAudience }}
            </p>
          </div>
        </li>

      </ul>
    </section>
  </div>
  <div class="actor">
    <p class="bold_title">화제의 배우 "황정민"의 작품</p>
    <ion-card>
      <ion-card-header>
        <ion-card-title>영화</ion-card-title>
        <ion-card-subtitle>#황정민</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="베테랑2" src="https://an2-img.amz.wtchn.net/image/v2/5hebIEomnrG7kgFeIqfu4w.jpg?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKdmNIUnpJanBiSW1SZk5Ea3dlRGN3TUhFNE1DSmRMQ0p3SWpvaUwzWXlMM04wYjNKbEwybHRZV2RsTHpjMk1qZzFOVE0zTWpJME9UQXhNREFpZlEuMkpETVZmSDRJNGNhbWVIRkZ4R3dTeHZqcWl0YXNza2pNclNZcGNYWVFIaw" (click)="goToMovieDetailPage()">
            </ion-thumbnail>
            <ion-label>
              <h2>베테랑</h2>
              <h4>액션</h4>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="크로스" src="https://an2-img.amz.wtchn.net/image/v2/XApRmu2NJ88a3ZeD3AtIoQ.jpg?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKdmNIUnpJanBiSW1SZk5Ea3dlRGN3TUhFNE1DSmRMQ0p3SWpvaUwzWXlMM04wYjNKbEwybHRZV2RsTHpJeE56QXlPRGMxTlRjNU16YzBJbjAuLXRwdl90Q2RVTnUza0xlMTA4YkhLbS1SRUl6N1VpUm5GbFFCSnptUzFjNA">
            </ion-thumbnail>
            <ion-label>
              <h2>크로스</h2>
              <h4>액션</h4>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="서울의 봄"  src="https://an2-img.amz.wtchn.net/image/v2/y8zw23wQG88i2Y3lNWetpQ.jpg?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKdmNIUnpJanBiSW1SZk5Ea3dlRGN3TUhFNE1DSmRMQ0p3SWpvaUwzWXlMM04wYjNKbEwybHRZV2RsTHpFMk9UazFPVEkwTmpnM016QTVNamd6TWpFaWZRLjFQU194eWZtVWFUZG5KUmhsY2V5RHVlVnZXVVhEQ2hhYlhnY01KZ1Fka1k">
            </ion-thumbnail>
            <ion-label>
              <h2>서울의 봄</h2>
              <h4>드라마</h4>
            </ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-thumbnail slot="start">
              <img alt="길복순" src="https://an2-img.amz.wtchn.net/image/v2/lZnOM6fJ1R36uYMe69VklQ.jpg?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKdmNIUnpJanBiSW1SZk5Ea3dlRGN3TUhFNE1DSmRMQ0p3SWpvaUwzWXlMM04wYjNKbEwybHRZV2RsTHpFMk56YzRNRFUzTVRjM01qa3hNakEyTlRraWZRLlkyTHFRdXBfT3phbVNqT3cxM1ZBWVIzUi0xWV9BZjhuNV9LTDRUUUktQWs">
            </ion-thumbnail>
            <ion-label>
              <h2>길복순</h2>
              <h4>액션</h4>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

  </div>
<!--  <div class="director">-->
<!--    <p>화제의 감독 "제임스 카메론"의 작품</p>-->
<!--    <ion-card>-->
<!--      <ion-card-header>-->
<!--        <ion-card-title>Card Title</ion-card-title>-->
<!--        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>-->
<!--      </ion-card-header>-->
<!--      <ion-card-content>-->
<!--        <ion-list>-->
<!--          <ion-item>-->
<!--            <ion-thumbnail slot="start">-->
<!--              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />-->
<!--            </ion-thumbnail>-->
<!--            <ion-label>Item</ion-label>-->
<!--          </ion-item>-->

<!--          <ion-item>-->
<!--            <ion-thumbnail slot="start">-->
<!--              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />-->
<!--            </ion-thumbnail>-->
<!--            <ion-label>Item</ion-label>-->
<!--          </ion-item>-->

<!--          <ion-item>-->
<!--            <ion-thumbnail slot="start">-->
<!--              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />-->
<!--            </ion-thumbnail>-->
<!--            <ion-label>Item</ion-label>-->
<!--          </ion-item>-->

<!--          <ion-item lines="none">-->
<!--            <ion-thumbnail slot="start">-->
<!--              <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />-->
<!--            </ion-thumbnail>-->
<!--            <ion-label>Item</ion-label>-->
<!--          </ion-item>-->
<!--        </ion-list>-->
<!--      </ion-card-content>-->
<!--    </ion-card>-->

<!--  </div>-->
<!--  <div class="genre1">-->
<!--    <p>#SF/판타지</p>-->
<!--  </div>-->
  <div class="actor">
    <p class="bold_title">화제의 감독 "제임스 카메론"의 작품</p>
    <ion-card>
      <ion-card-header>
        <ion-card-title>영화</ion-card-title>
        <ion-card-subtitle>#황정민</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="베테랑2" src="https://an2-img.amz.wtchn.net/image/v2/5hebIEomnrG7kgFeIqfu4w.jpg?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKdmNIUnpJanBiSW1SZk5Ea3dlRGN3TUhFNE1DSmRMQ0p3SWpvaUwzWXlMM04wYjNKbEwybHRZV2RsTHpjMk1qZzFOVE0zTWpJME9UQXhNREFpZlEuMkpETVZmSDRJNGNhbWVIRkZ4R3dTeHZqcWl0YXNza2pNclNZcGNYWVFIaw">
            </ion-thumbnail>
            <ion-label>
              <h2>베테랑</h2>
              <h4>액션</h4>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="크로스" src="https://an2-img.amz.wtchn.net/image/v2/XApRmu2NJ88a3ZeD3AtIoQ.jpg?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKdmNIUnpJanBiSW1SZk5Ea3dlRGN3TUhFNE1DSmRMQ0p3SWpvaUwzWXlMM04wYjNKbEwybHRZV2RsTHpJeE56QXlPRGMxTlRjNU16YzBJbjAuLXRwdl90Q2RVTnUza0xlMTA4YkhLbS1SRUl6N1VpUm5GbFFCSnptUzFjNA">
            </ion-thumbnail>
            <ion-label>
              <h2>크로스</h2>
              <h4>액션</h4>
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="서울의 봄"  src="https://an2-img.amz.wtchn.net/image/v2/y8zw23wQG88i2Y3lNWetpQ.jpg?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKdmNIUnpJanBiSW1SZk5Ea3dlRGN3TUhFNE1DSmRMQ0p3SWpvaUwzWXlMM04wYjNKbEwybHRZV2RsTHpFMk9UazFPVEkwTmpnM016QTVNamd6TWpFaWZRLjFQU194eWZtVWFUZG5KUmhsY2V5RHVlVnZXVVhEQ2hhYlhnY01KZ1Fka1k">
            </ion-thumbnail>
            <ion-label>
              <h2>서울의 봄</h2>
              <h4>드라마</h4>
            </ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-thumbnail slot="start">
              <img alt="길복순" src="https://an2-img.amz.wtchn.net/image/v2/lZnOM6fJ1R36uYMe69VklQ.jpg?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKdmNIUnpJanBiSW1SZk5Ea3dlRGN3TUhFNE1DSmRMQ0p3SWpvaUwzWXlMM04wYjNKbEwybHRZV2RsTHpFMk56YzRNRFUzTVRjM01qa3hNakEyTlRraWZRLlkyTHFRdXBfT3phbVNqT3cxM1ZBWVIzUi0xWV9BZjhuNV9LTDRUUUktQWs">
            </ion-thumbnail>
            <ion-label>
              <h2>길복순</h2>
              <h4>액션</h4>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

  </div>
  <div class="box_office_rankings">
    <p class="bold_title">#SF/판타지</p>
    <section class="movie_list">
      <ul>
        <li *ngFor="let movie of boxOfficeRankings">
          <img src="{{ movie.imgSrc }}" />
          <div class="description">
            <p class="title">{{ movie.title }}</p>
            <p class="year_country">{{ movie.year }} ・ {{ movie.country }}</p>
            <p class="sub">
              예매율 {{movie.reservationRate}}% 누적 관객 {{
                movie.cumulativeAudience }}
            </p>
          </div>
        </li>

      </ul>
    </section>
  </div>
<!--  <div class="genre2">-->
<!--    <p>#액션</p>-->
<!--  </div>-->
  <div class="box_office_rankings">
    <p class="bold_title">#액션</p>
    <section class="movie_list">
      <ul>
        <li *ngFor="let movie of boxOfficeRankings">
          <img src="{{ movie.imgSrc }}" />
          <div class="description">
            <p class="title">{{ movie.title }}</p>
            <p class="year_country">{{ movie.year }} ・ {{ movie.country }}</p>
            <p class="sub">
              예매율 {{movie.reservationRate}}% 누적 관객 {{
                movie.cumulativeAudience }}
            </p>
          </div>
        </li>

      </ul>
    </section>
  </div>
<!--  <div class="genre3">-->
<!--    <p>#히어로</p>-->
<!--  </div>-->
  <div class="box_office_rankings">
    <p class="bold_title">#히어로</p>
    <section class="movie_list">
      <ul>
        <li *ngFor="let movie of boxOfficeRankings">
          <img src="{{ movie.imgSrc }}" />
          <div class="description">
            <p class="title">{{ movie.title }}</p>
            <p class="year_country">{{ movie.year }} ・ {{ movie.country }}</p>
            <p class="sub">
              예매율 {{movie.reservationRate}}% 누적 관객 {{
                movie.cumulativeAudience }}
            </p>
          </div>
        </li>

      </ul>
    </section>
  </div>
<!--  <div class="genre4">-->
<!--    <p>#애니메이션</p>-->
<!--  </div>-->
  <div class="box_office_rankings">
    <p class="bold_title">#애니메이션</p>
    <section class="movie_list">
      <ul>
        <li *ngFor="let movie of boxOfficeRankings">
          <img src="{{ movie.imgSrc }}" />
          <div class="description">
            <p class="title">{{ movie.title }}</p>
            <p class="year_country">{{ movie.year }} ・ {{ movie.country }}</p>
            <p class="sub">
              예매율 {{movie.reservationRate}}% 누적 관객 {{
                movie.cumulativeAudience }}
            </p>
          </div>
        </li>

      </ul>
    </section>
  </div>

</div>

