<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>컬렉션 상세</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="christmas_movie" style="margin-top: 60px">
    <div class="header">
      <img class="unknow-image" alt="" src="https://img2.daumcdn.net/thumb/R658x0.q70/?fname=https://t1.daumcdn.net/news/202105/25/holapet/20210525044423699dwdp.jpg">
      <p class="username">메타몽</p>
    </div>
  </div>

  <div class="header2">
    <p class="collection_title">
      # {{ collection?.name }}
    </p>
  </div>

  <div class="image-container" *ngIf="collection?.movies">
    <ul class="movie-images">
      <li *ngFor="let movie of collection.movies">
        <img class="alone" [src]="movie.posterUrl" [alt]="movie.title">
      </li>
    </ul>
  </div>
</ion-content>
