//html, ion-app {
//  width: 100%;
//  max-width: 430px;
//  margin: 0 auto;
//}

ion-app {
  background-color: #ffffff; /* 콘텐츠 영역의 배경색 */
  width: 100%;
  max-width: 430px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* 선택: 콘텐츠 영역에 그림자 추가 */
}


