<ion-header>
  <ion-toolbar>
    <ion-title>마이페이지</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header class="profile">
      <ion-card-title>프로필</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- 프로필 사진 -->
      <div class="profile-image-container">
        <img src="assets/images/unknown.png" alt="익명사진" class="profile-image">
      </div>

      <!-- 유저 정보 -->
      <ion-item class="user-info-item">
        <ion-label>
          <h2>닉네임</h2>
          <h3>{{ user.username }}</h3>
        </ion-label>
      </ion-item>
      <ion-item class="user-info-item">
        <ion-label>
          <h2>이메일</h2>
          <h3>{{ user.email}}</h3>
        </ion-label>
      </ion-item>

      <ion-buttons slot="end">
        <ion-button fill="clear" (click)="logout()">로그아웃</ion-button>
      </ion-buttons>

      <ion-grid>
        <ion-row class="profile-row">
          <ion-col class="col1">평점</ion-col>
          <ion-col class="col2">코멘트</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>보관함</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row class="storage-row">
          <ion-col>
            <ion-icon name="videocam"></ion-icon>
            영화
          </ion-col>
          <ion-col>
            <ion-icon name="play"></ion-icon>
            시리즈
          </ion-col>
          <ion-col>
            <ion-icon name="book"></ion-icon>
            책
          </ion-col>
          <ion-col>
            <ion-icon name="happy"></ion-icon>
            웹툰
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>좋아요</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="liked-person">좋아하는 인물</div>
      <div class="liked-comment">좋아한 코멘트</div>
    </ion-card-content>
  </ion-card>
</ion-content>
