<ion-header>
  <ion-toolbar>
    <ion-title>마이페이지</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header class="profile">
      <ion-card-title>프로필</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="profile-image-container">
        <img src="assets/images/unknown.png" alt="익명사진" class="profile-image">
      </div>

      <!-- 유저 정보 -->
      <ion-item class="user-info-item" *ngIf="user">
        <ion-label>
          <h2>닉네임</h2>
          <h3>{{ user.username }}</h3>
        </ion-label>
      </ion-item>
      <ion-item class="user-info-item" *ngIf="user">
        <ion-label>
          <h2>이메일</h2>
          <h3>{{ user.email }}</h3>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <!-- 기타 카드 내용 -->

  <ion-card>
    <ion-card-header>
      <ion-card-title>좋아요</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row class="storage-row">
          <ion-col>
            <ion-icon name="videocam" (click)="goToLikedMoviePage()"></ion-icon>
            영화
          </ion-col>
          <ion-col (click)="goToLikedCollectionPage()">
            <ion-icon name="play"></ion-icon>
            컬렉션
          </ion-col>
          <ion-col (click)="goToLikedCommentPage()">
            <ion-icon name="book"></ion-icon>
            코멘트
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card class="Mycollection">
    <ion-card-header>
      <ion-card-title>My 컬렉션</ion-card-title>
    </ion-card-header>

      <!-- 추가 콘텐츠 -->

    <ion-card-content class="collection-content">
      <div class="collection-row">
        <div class="collection-container" >
          <div class="poster">
            <div class="image image1" (click)="goToMyCollectionPage()" >
              <img src="https://an2-img.amz.wtchn.net/image/v2/3A4qOu7RtiKpI_OHcrM6SQ.jpg?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKdmNIUnpJanBiSW1SZk5Ea3dlRGN3TUhFNE1DSmRMQ0p3SWpvaUwzWXhMM2t6ZVdwbFkyWjZNM2xsYm5WNGFIWjFPV3gySW4wLnFMR29ZX0ZEYnNIZnllX1c4cWR3bmlqdnFHTldHWmNQQjJoV1RkZmFpb1U" alt="">
            </div>
            <div class="image image2">
              <img alt="" src="https://an2-img.amz.wtchn.net/image/v2/XsZSX-2QKku7t-5cVPmp8g.jpg?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKdmNIUnpJanBiSW1SZk5Ea3dlRGN3TUhFNE1DSmRMQ0p3SWpvaUwzWXhMM0psYXpCemNIcG1lRzVoWnpWd2NHcGhOMngxSW4wLjAyOGpLblhTakNaRVJtbnh0UE9SZXFFRW5rVC15WFlCQ01Md3Z3X1VRLTg">
            </div>
            <div class="image image3">
              <img src="https://an2-img.amz.wtchn.net/image/v2/z8hZdM7cUm4va_dSpGHc_w.jpg?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKdmNIUnpJanBiSW1SZk5Ea3dlRGN3TUhFNE1DSmRMQ0p3SWpvaUwzWXhMM0YzZUdJNWRtRTJaM0YyZVdvNGIzVjVibk50SW4wLlJhanhXS09EdTZjOGxEVUVvOEVad3Blal9sWWdxNENsa1gzQjFsOFVZZmM" alt="">
            </div>
            <div class="image image4">
              <img alt="" src="https://an2-img.amz.wtchn.net/image/v2/wnEk0nj3dCeBVjlBFsieHQ.jpg?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKdmNIUnpJanBiSW1SZk5Ea3dlRGN3TUhFNE1DSmRMQ0p3SWpvaUwzWXhMMlZzWm1odloyWjVaR1p5Ym5ob2FIWXpaM2Q2SW4wLnNMSEFMQzhYX2ZkZWdmMW5vVXhVcGNLZHZGVEZBa1F1V2ZtWGE3ZUdPSzA">
            </div>
          </div>
          <h3 class="collection-title">인생 애니메이션😻</h3> <!-- 제목 추가 -->
        </div>

        <div class="collection-container">
          <div class="poster">
            <div class="image image1">
              <img src="https://an2-img.amz.wtchn.net/image/v2/3A4qOu7RtiKpI_OHcrM6SQ.jpg?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKdmNIUnpJanBiSW1SZk5Ea3dlRGN3TUhFNE1DSmRMQ0p3SWpvaUwzWXhMM2t6ZVdwbFkyWjZNM2xsYm5WNGFIWjFPV3gySW4wLnFMR29ZX0ZEYnNIZnllX1c4cWR3bmlqdnFHTldHWmNQQjJoV1RkZmFpb1U" alt="">
            </div>
            <div class="image image2">
              <img alt="" src="https://an2-img.amz.wtchn.net/image/v2/XsZSX-2QKku7t-5cVPmp8g.jpg?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKdmNIUnpJanBiSW1SZk5Ea3dlRGN3TUhFNE1DSmRMQ0p3SWpvaUwzWXhMM0psYXpCemNIcG1lRzVoWnpWd2NHcGhOMngxSW4wLjAyOGpLblhTakNaRVJtbnh0UE9SZXFFRW5rVC15WFlCQ01Md3Z3X1VRLTg">
            </div>
            <div class="image image3">
              <img src="https://an2-img.amz.wtchn.net/image/v2/z8hZdM7cUm4va_dSpGHc_w.jpg?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKdmNIUnpJanBiSW1SZk5Ea3dlRGN3TUhFNE1DSmRMQ0p3SWpvaUwzWXhMM0YzZUdJNWRtRTJaM0YyZVdvNGIzVjVibk50SW4wLlJhanhXS09EdTZjOGxEVUVvOEVad3Blal9sWWdxNENsa1gzQjFsOFVZZmM" alt="">
            </div>
            <div class="image image4">
              <img alt="" src="https://an2-img.amz.wtchn.net/image/v2/wnEk0nj3dCeBVjlBFsieHQ.jpg?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKdmNIUnpJanBiSW1SZk5Ea3dlRGN3TUhFNE1DSmRMQ0p3SWpvaUwzWXhMMlZzWm1odloyWjVaR1p5Ym5ob2FIWXpaM2Q2SW4wLnNMSEFMQzhYX2ZkZWdmMW5vVXhVcGNLZHZGVEZBa1F1V2ZtWGE3ZUdPSzA">
            </div>
          </div>
          <h3 class="collection-title">인생 애니메이션😻</h3> <!-- 제목 추가 -->
        </div>

        <div class="collection-container">
          <div class="poster">
            <div class="image image1">
              <img src="https://an2-img.amz.wtchn.net/image/v2/3A4qOu7RtiKpI_OHcrM6SQ.jpg?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKdmNIUnpJanBiSW1SZk5Ea3dlRGN3TUhFNE1DSmRMQ0p3SWpvaUwzWXhMM2t6ZVdwbFkyWjZNM2xsYm5WNGFIWjFPV3gySW4wLnFMR29ZX0ZEYnNIZnllX1c4cWR3bmlqdnFHTldHWmNQQjJoV1RkZmFpb1U" alt="">
            </div>
            <div class="image image2">
              <img alt="" src="https://an2-img.amz.wtchn.net/image/v2/XsZSX-2QKku7t-5cVPmp8g.jpg?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKdmNIUnpJanBiSW1SZk5Ea3dlRGN3TUhFNE1DSmRMQ0p3SWpvaUwzWXhMM0psYXpCemNIcG1lRzVoWnpWd2NHcGhOMngxSW4wLjAyOGpLblhTakNaRVJtbnh0UE9SZXFFRW5rVC15WFlCQ01Md3Z3X1VRLTg">
            </div>
            <div class="image image3">
              <img src="https://an2-img.amz.wtchn.net/image/v2/z8hZdM7cUm4va_dSpGHc_w.jpg?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKdmNIUnpJanBiSW1SZk5Ea3dlRGN3TUhFNE1DSmRMQ0p3SWpvaUwzWXhMM0YzZUdJNWRtRTJaM0YyZVdvNGIzVjVibk50SW4wLlJhanhXS09EdTZjOGxEVUVvOEVad3Blal9sWWdxNENsa1gzQjFsOFVZZmM" alt="">
            </div>
            <div class="image image4">
              <img alt="" src="https://an2-img.amz.wtchn.net/image/v2/wnEk0nj3dCeBVjlBFsieHQ.jpg?jwt=ZXlKaGJHY2lPaUpJVXpJMU5pSjkuZXlKdmNIUnpJanBiSW1SZk5Ea3dlRGN3TUhFNE1DSmRMQ0p3SWpvaUwzWXhMMlZzWm1odloyWjVaR1p5Ym5ob2FIWXpaM2Q2SW4wLnNMSEFMQzhYX2ZkZWdmMW5vVXhVcGNLZHZGVEZBa1F1V2ZtWGE3ZUdPSzA">
            </div>
          </div>
          <h3 class="collection-title">인생 애니메이션😻</h3> <!-- 제목 추가 -->
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- 로그아웃 버튼을 하단에 추가 -->
  <div class="logout-button-container">
    <ion-button expand="full" color="danger" *ngIf="isLoggedIn" (click)="logout()">로그아웃</ion-button>
  </div>
  <p class="delete_account" (click)="goToDeleteAccount()">탈퇴하기</p>
</ion-content>




