@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

*{
  font-family: 'Pretendard-Regular';
}

ion-toolbar ion-title {
  font-size: large;
}

.profile {
  align-items: center !important;
}

.profile-image-container {
  display: flex;
  justify-content: center;
  margin: 15px 0; /* 이미지와 다른 요소 간 간격 조정 */
}

.profile-image {
  width: 100px;
  height: auto;
  border-radius: 50%; /* 원형 이미지 */
  border: 2px solid #db4a2b; /* 테두리 추가 */
}

.user-info-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

ion-item {
  width: 100%;
  padding: 0;
  border: none;
}

ion-item ion-label h2 {
  font-size: 0.75em;
  color: gray;
}

ion-item ion-label h3 {
  font-size: 1.1em;
  margin: 0;
}

ion-input {
  margin-top: 0;
  padding: 0;
  border: none;
  font-size: 1.05em;
  color: #2a2a2a;
}

.profile-row {
  border: solid 1px #c6c6c6;
  display: flex;
  text-align: center;
  font-size: 19px;
}

.col1, .col2 {
  padding: 10px;
  color: black;
  text-align: center;
  border-right: solid 1px #c6c6c6;
}

.col2 {
  border-right: none; /* 마지막 열은 오른쪽 경계선 제거 */
}

.storage-row ion-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent;
  border: solid 1px #c6c6c6;
  border-radius: 20px;
  color: black;
  font-size: 19px;
  margin: 5px;
  text-align: center;
}

.storage-row ion-icon {
  margin-bottom: 5px;
}

ion-card {
  padding: 10px;
  margin: 20px 20px; /* 카드 간의 간격 추가 */
}

.liked-person, .liked-comment {
  font-size: 19px;
  color: black;
  padding: 15px !important;
}

ion-card-title{
  font-size: 24px;
}
.logout-button-container {
  margin-top: 20px;
  padding: 0 16px;
}

/*마이컬렉션부분*/
.collection-container {
  display: flex;
  flex-direction: column; /* 세로 방향으로 정렬 */
  align-items: center;
}

.collection-content {
  display: grid; /* 플렉스 대신 그리드를 사용 */
  grid-template-columns: repeat(2, 1fr); /* 2개의 열 */
  gap: 16px; /* 포스터 간의 간격 */
  padding: 10px; /* 전체 여백 */
  justify-items: center; /* 항목을 중앙 정렬 */
}

.poster {
  display: block;
  width: 90px;
  height: 111px;
  border: 2px solid grey;
  border-radius: 5px;
  overflow: hidden;
}

.image {
  position: relative;                    /* 자식 요소에 대한 위치 설정 */
  overflow: hidden;                     /* 자식 요소가 카드 밖으로 나가지 않도록 설정 */
  border: 1px solid grey;               /* 각 이미지에 테두리 추가 */
  width: 100%;                          /* 가로 100% */
  height: 100%;                         /* 세로 100% */
}

.image img {
  width: 100%;                          /* 가로 100% */
  height: 100%;                         /* 세로 100% */
  object-fit: cover;                    /* 이미지 비율 유지하며 잘리도록 설정 */
}

.Mycollection{
  padding-bottom: 40px;
}

.collection-title {
  margin-top: 10px;                    /* 제목과 포스터 사이의 여백 */
  font-size: 12px;                     /* 제목 크기 조정 */
  font-weight: bold;                   /* 제목 두께 조정 */
  width: auto;                        /* 포스터 너비와 동일하게 설정 */
  word-wrap: break-word;               /* 단어 줄 바꿈 허용 */
  overflow-wrap: break-word;           /* 단어 줄 바꿈 허용 (구버전 지원) */
  color: #101010;
  margin-left: 2px;
}

.collection-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2개의 컬럼 설정 */
  gap: 10px; /* 컬렉션 간의 간격 조정 */
  margin-bottom: 20px; /* 아래쪽 여백 추가 */
}

.delete_account {
  text-align: end;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-right: 20px;
  color: grey;
}

.poster-row {
  display: flex;
  overflow-x: auto;
  gap: 8px;
  margin-bottom: 10px; /* 포스터와 텍스트 사이에 간격 추가 */
}

.poster-image {
  width: 100px;
  height: 150px;
  border-radius: 4px;
  padding-bottom: 5px;
}

.details-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details-row h2 {
  margin: 0;
  font-size: 16px;
  flex: 1; /* 컬렉션 이름이 공간을 차지하게 함 */
}