<ion-header style="margin-top: 10px">
  <ion-toolbar color="white">
    <ion-buttons slot="start">
      <ion-back-button default-href="tabs/collection" (click)="goBackMovieDetail()" icon="close" text=""></ion-back-button>
    </ion-buttons>

    <ion-title>코멘트 작성</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="saveComment()" class="store_comment">저장</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content style="margin-top: 60px">
  <ion-item lines="none">
    <ion-input [(ngModel)]="content" placeholder="이 작품에 대한 생각을 자유롭게 표현해주세요."></ion-input>
  </ion-item>
</ion-content>
