<ion-content>
  <!--검색-->
  <div class="searchbar_collection" style="margin-top: 55px;">
    <ion-searchbar color="light" show-clear-button="never" placeholder="찾고 싶은 영화를 검색하세요!" (click)="goToSearchPage()"
                   style="padding: 0 15px 15px 15px;"></ion-searchbar>
  </div>
  <!-- 프리뷰-->
  <div class="preview">
    <swiper-container
      class="mySwiper"
      space-between="30"
      centered-slides="true"
      autoplay-delay="2000"
      autoplay-disable-on-interaction="false">
      <swiper-slide>
        <img src="assets/images/kevin.png" alt="프리뷰" style="object-fit: cover; width: 430px; height: 210px; position: relative;">
        <div class="kevin_text">
          <a class="HOT">🎅HOT🎄</a><br>
          <a class="nows_HOT">크리스마스에 생각나는 영화</a>
        </div>
        <a class="preview_count">1/2</a>
      </swiper-slide>

      <swiper-slide>
        <img src="assets/images/harry3.png" alt="프리뷰" style="object-fit: cover; width: 430px; height: 210px; position: relative;">
        <div class="kevin_text">
          <a class="HOT">🎅HOT🎄</a><br>
          <a class="nows_HOT">"해리포터 정주행, 준비됐어?"</a>
        </div>
        <a class="preview_count">2/2</a>
      </swiper-slide>
    </swiper-container>
  </div>

  <!--지금 뜨는 코멘트 -->
  <div class="home_comment">
    <p>
      지금 뜨는 코멘트
      <ion-icon (click)="goToNowsCommentPage()" name="chevron-forward-outline"></ion-icon>
    </p>
    <swiper-container
      class="mySwiper"
      pagination="true"
      pagination-clickable="true"
      space-between="30"
      centered-slides="true"
      autoplay-delay="3000"
      autoplay-disable-on-interaction="false">
      <swiper-slide>
        <ion-card class="comment-card">
          <ion-card-header class="comment-card-header">
            <div class="comment_profile">
              <ion-avatar aria-hidden="true" slot="start">
                <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
              </ion-avatar>
              <ion-label>메타몽</ion-label>
            </div>
          </ion-card-header>
          <ion-item>
            <!-- 영화 이미지-->
            <ion-thumbnail slot="start">
              <img alt="인사이드 아웃2" src="https://search.pstatic.net/common?quality=75&direct=true&src=https%3A%2F%2Fmovie-phinf.pstatic.net%2F20240612_151%2F1718180074487NH0V5_JPEG%2Fmovie_image.jpg" />
            </ion-thumbnail>
            <ion-content>
              <ion-card-title class="now-comment-card-title">인사이드 아웃2</ion-card-title>
              <div class="comment">
                결국 시작은 '잘 해내야한다'는 불안감. 그냥 좀 못합시다, 뭐 어때요
              </div>
            </ion-content>
          </ion-item>
<!--          <ion-button fill="clear" class="text-button"><ion-icon name="heart-outline"></ion-icon>1,004</ion-button>-->
<!--          <ion-button fill="clear" class="text-button"><ion-icon name="chatbox-outline"></ion-icon>127</ion-button>-->
        </ion-card>
      </swiper-slide>
      <swiper-slide>
        <ion-card class="comment-card">
          <ion-card-header class="comment-card-header">
            <div class="comment_profile">
              <ion-avatar aria-hidden="true" slot="start">
                <img alt="" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
              </ion-avatar>
              <ion-label>메타몽</ion-label>
            </div>
          </ion-card-header>
          <ion-item>
            <!-- 영화 이미지-->
            <ion-thumbnail slot="start">
              <img alt="인사이드 아웃2" src="https://search.pstatic.net/common?quality=75&direct=true&src=https%3A%2F%2Fmovie-phinf.pstatic.net%2F20240612_151%2F1718180074487NH0V5_JPEG%2Fmovie_image.jpg" />
            </ion-thumbnail>
            <ion-content>
              <ion-card-title class="now-comment-card-title">인사이드 아웃2</ion-card-title>
              <div class="comment">
                결국 시작은 '잘 해내야한다'는 불안감. 그냥 좀 못합시다, 뭐 어때요
              </div>
            </ion-content>
          </ion-item>

        </ion-card>
      </swiper-slide>
    </swiper-container>
  </div>

  <!-- 영화리스트 -->
  <div class="movie">
    <p>박스오피스 순위</p>
    <swiper-container #swiper_cgv>
      <swiper-slide *ngFor="let movie of movies; let i = index" (click)="goToMovieDetailPage(movie.id)">
        <div class="movie-item">
          <img [src]="movie.posterUrl" class="movie-poster">
          <div class="rank">{{ i + 1 }}</div> <!-- 순위를 이미지 위에 표시 -->
          <div class="movie_name">{{ movie.title }}</div>
        </div>
      </swiper-slide>
    </swiper-container>
  </div>

  <div class="movie2">
    <p>#판타지</p>
      <swiper-container #swiper_netflix>
        <swiper-slide *ngFor="let movie of movies;" (click)="goToMovieDetailPage(movie.id)">
          <div class="movie-item">
            <img [src]="movie.posterUrl" class="movie-poster">
            <div class="movie_name">{{ movie.title }}</div>
          </div>
        </swiper-slide>
      </swiper-container>
  </div>

