<ion-content>
  <div class="searchbar_collection">
    <ion-searchbar color="light" show-clear-button="never" placeholder="찾고 싶은 컬렉션을 검색하세요!" style="padding: 0 15px 15px 15px;"></ion-searchbar>
  </div>

  <div class="popular">
    <span>인기순</span>
    <ion-icon name="caret-down-outline" style="margin-left: auto;"></ion-icon>
  </div>

  <p class="hot">인기🔥</p>
  
  <!-- 샘플 데이터 -->
  <div class="christmas_movie">
    <div class="header">
      <img class="unknow-image" alt="" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRU_ERNCSI1HFpbvGex7nWhFR-ZYtVQnhCjEhAr4ryvrDdMVUxiGCFvuYeY9hfiHYQfxpA&usqp=CAU" style="width:50px; height: auto;">
      <p>크리스마스에 생각나는 영화</p>
      <ion-icon name="chevron-forward-outline" style="margin-left: auto; color: grey;" (click)="goToDetailCollectionPage(1)"></ion-icon>
    </div>
    <div class="movie-images">
      <img class="alone" src="https://i.namu.wiki/i/yKCKWxSAUkSiQHdKyRckkA-miB0VZeIJcpgjtoYPcutixTS9IYbvpXpwD7TvmCIFEf5J52lSfXKFuJzH3UILLA.webp" alt=""/>
      <img class="alone" alt="" src="https://m.media-amazon.com/images/M/MV5BOGEyYzRmNzYtYzJjZi00ZjhlLWJiNDktYzZhNTgxMzc1NThlXkEyXkFqcGc@._V1_.jpg"/>
      <img class="alone" alt="" src="https://m.media-amazon.com/images/M/MV5BNmI0MjcxYjYtYzY5Ni00NjBkLTllN2MtZGYyNzJiYzA5ZGYxXkEyXkFqcGc@._V1_.jpg"/>
    </div>
    <div class="likes" style="margin-top: 10px;">
      <ion-icon name="heart"></ion-icon>
      <span>12</span>
    </div>
  </div>

  <div class="christmas_movie">
    <div class="header">
      <img class="unknow-image" alt="" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRU_ERNCSI1HFpbvGex7nWhFR-ZYtVQnhCjEhAr4ryvrDdMVUxiGCFvuYeY9hfiHYQfxpA&usqp=CAU" style="width:50px; height: auto;">
      <p>천만 돌파한 한국 영화는 뭐가 있을까?</p>
      <ion-icon name="chevron-forward-outline" style="margin-left: auto; color: grey;" (click)="goToDetailCollectionPage(1)"></ion-icon>
    </div>
    <div class="movie-images">
      <img class="alone" src="https://i.namu.wiki/i/yKCKWxSAUkSiQHdKyRckkA-miB0VZeIJcpgjtoYPcutixTS9IYbvpXpwD7TvmCIFEf5J52lSfXKFuJzH3UILLA.webp" alt=""/>
      <img class="alone" alt="" src="https://m.media-amazon.com/images/M/MV5BOGEyYzRmNzYtYzJjZi00ZjhlLWJiNDktYzZhNTgxMzc1NThlXkEyXkFqcGc@._V1_.jpg"/>
      <img class="alone" alt="" src="https://m.media-amazon.com/images/M/MV5BNmI0MjcxYjYtYzY5Ni00NjBkLTllN2MtZGYyNzJiYzA5ZGYxXkEyXkFqcGc@._V1_.jpg"/>
    </div>
    <div class="likes" style="margin-top: 10px;">
      <ion-icon name="heart"></ion-icon>
      <span>12</span>
    </div>
  </div>

  <!-- 공유된 컬렉션 -->
  <div class="christmas_movie">
    <ng-container *ngFor="let collection of sharedCollections$ | async">
      <div class="header">
        <img class="unknow-image" alt="" src="assets/images/unknown.png" style="width:50px; height: auto;">
        <p class="collection-name" style="font-size: 22px;">{{ collection?.name }}</p>
        <ion-icon class="arrow-icon" name="chevron-forward-outline" (click)="goToDetailCollectionPage(collection.id)" style="margin-left: auto;"></ion-icon>
      </div>
  
      <ion-item (click)="viewDetail(collection.id)" style="border: none; width: 100%; background: transparent;">
        <div class="collection-container" style="width: 100%;">
          <div class="poster-row">
            <img *ngFor="let movie of collection.movies" [src]="movie.posterUrl" alt="Movie Poster" class="poster-image"/>
          </div>
        </div>
      </ion-item>
  
      <div class="likes" style="margin-top: 10px;">
        <ion-icon name="heart"></ion-icon>
        <span>{{ collection.favoriteCount }}</span>
      </div>      
    </ng-container>
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon (click)="goToUploadCollectionPage()" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>