<ion-header>
  <img class="logo-image" src="assets/images/logo_mongDDang.png" alt="로고이미지_가로" style="width:180px; height: auto;">
</ion-header>

<ion-content>
  <div class="searchbar_collection">
    <ion-searchbar color="light" show-clear-button="never" placeholder="찾고 싶은 컬렉션을 검색하세요!" style="padding: 0 15px 15px 15px;"></ion-searchbar>
  </div>

  <div class="popular">
    <ion-icon name="caret-down-outline"></ion-icon>
    <span>인기순</span>
  </div>

  <p class="hot">인기🔥</p>
  
  <!-- 실제 컬렉션 데이터 반복 출력 -->
  <div *ngFor="let collection of collections" class="christmas_movie">
    <div class="header">
      <img class="unknow-image" alt="" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRU_ERNCSI1HFpbvGex7nWhFR-ZYtVQnhCjEhAr4ryvrDdMVUxiGCFvuYeY9hfiHYQfxpA&usqp=CAU" style="width:50px; height: auto;">
      <p>{{ collection.name }}</p>
      <ion-icon name="chevron-forward-outline" style="margin-left: auto; color: grey;" (click)="goToDetailCollectionPage(collection.id)"></ion-icon>
    </div>
    <div class="movie-images">
      <!-- 영화 이미지 표시 부분 -->
      <img class="alone" src="https://i.namu.wiki/i/yKCKWxSAUkSiQHdKyRckkA-miB0VZeIJcpgjtoYPcutixTS9IYbvpXpwD7TvmCIFEf5J52lSfXKFuJzH3UILLA.webp" alt="">
      <img class="alone" alt="" src="https://m.media-amazon.com/images/M/MV5BOGEyYzRmNzYtYzJjZi00ZjhlLWJiNDktYzZhNTgxMzc1NThlXkEyXkFqcGc@._V1_.jpg">
      <img class="alone" alt="" src="https://m.media-amazon.com/images/M/MV5BNmI0MjcxYjYtYzY5Ni00NjBkLTllN2MtZGYyNzJiYzA5ZGYxXkEyXkFqcGc@._V1_.jpg">
    </div>
    <div class="likes">
      <ion-icon name="heart"></ion-icon>
      <span>{{ collection.favoriteCount }}</span>
    </div>
    </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon (click)="goToUploadCollectionPage()" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
