//폰트 스타일
@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: 'SUITE-Regular', sans-serif;
}



//닉네임 부분
ion-item ion-label h2 {
  font-size: 0.75em; /* 닉네임 글씨 크기 조정 */
  display: inline;
  margin-right: 10px;
  color: gray;
}
ion-item ion-label h3 {
  font-size: 1.10em; /* 닉네임 글씨 크기 조정 */
  margin: 0; /* 여백 제거 */
  display: inline;
}


//이메일 부분
ion-item h2 {
  font-size: 0.75em; /* 닉네임 글씨 크기 조정 */
  display: inline;
  color: gray;
  margin-right: 10px;
}

ion-input {
  margin-top: 0; /* 이메일 입력 필드와 레이블 간의 간격 제거 */
  padding: 0; /* 입력 필드 내부 여백 제거 */
  border: none; /* 입력 필드 테두리 제거 */
  font-size: 1.05em; /* 이메일 글씨 크기 조정 */
  color: #2a2a2a;
}



//닉네임 이메일 필드
ion-item {
  display: flex;
  align-items: center; /* 아이템 내의 콘텐츠를 수직 가운데 정렬 */
  width: 100%; /* 아이템이 카드의 전체 너비를 차지하도록 설정 */
  margin-bottom: 0; /* 아이템 간의 간격 제거 */
  white-space: nowrap;
  padding: 0; /* 내부 여백 제거 */
  border: none; /* 테두리 제거 */
  --inner-padding-end: 0; /* 아이템 내부 오른쪽 여백 제거 */
}

ion-card {
  padding: 10px; /* 카드 내부 여백 */
}

ion-card-header {
  padding-bottom: 8px; /* 카드 헤더와 카드 콘텐츠 간의 간격 */
}

ion-card-header {
  display: flex;
  justify-content: space-between; // 제목과 버튼 사이의 공간을 만듭니다.
  align-items: center; // 수직 정렬을 중앙으로
  height: 56px; // 필요에 따라 높이 조정
}

.profile-image-container {
  display: flex;
  justify-content: center; /* 이미지 왼쪽 정렬 */
  margin-bottom: 20px; /* 이미지와 다음 요소 간의 간격 */
  margin-top: 10px;
}


ion-buttons {
  margin: 10px 0 0 260px;
}

