//폰트 스타일
@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: 'SUITE-Regular', sans-serif !important;
}


ion-toolbar ion-title{
  font-size: large;
}
//닉네임 부분
ion-item ion-label h2 {
  font-size: 0.75em; /* 닉네임 글씨 크기 조정 */
  display: inline;
  margin-right: 10px;
  color: gray;
}
ion-item ion-label h3 {
  font-size: 1.10em; /* 닉네임 글씨 크기 조정 */
  margin: 0; /* 여백 제거 */
  display: inline;
}


//이메일 부분
ion-item h2 {
  font-size: 0.75em; /* 닉네임 글씨 크기 조정 */
  display: inline;
  color: gray;
  margin-right: 10px;
}

ion-input {
  margin-top: 0; /* 이메일 입력 필드와 레이블 간의 간격 제거 */
  padding: 0; /* 입력 필드 내부 여백 제거 */
  border: none; /* 입력 필드 테두리 제거 */
  font-size: 1.05em; /* 이메일 글씨 크기 조정 */
  color: #2a2a2a;
}



//닉네임 이메일 필드
ion-item {
  display: flex;
  align-items: center; /* 아이템 내의 콘텐츠를 수직 가운데 정렬 */
  width: 100%; /* 아이템이 카드의 전체 너비를 차지하도록 설정 */
  margin-bottom: 0; /* 아이템 간의 간격 제거 */
  white-space: nowrap;
  padding: 0; /* 내부 여백 제거 */
  border: none; /* 테두리 제거 */
  --inner-padding-end: 0; /* 아이템 내부 오른쪽 여백 제거 */
}


//평점, 코멘트, 컬렉션 스타일
.profile-row {
  border: solid 1px #c6c6c6; /* 전체 row를 둘러싸는 border */
  padding: 0;
  display: flex;
  text-align: center;
  font-size: 19px;
}


.col1 {
  padding: 10px; /* 내부 여백 추가 */
  text-align: center; /* 텍스트 중앙 정렬 */
  color:black;
  border-right: solid 1px #c6c6c6; /* 각 col 사이에 경계선 추가 */
  box-sizing: border-box; /* padding과 border가 포함되도록 설정 */
}
.col2 {
  color:black;
  padding: 10px; /* 내부 여백 추가 */
  text-align: center; /* 텍스트 중앙 정렬 */
  box-sizing: border-box; /* padding과 border가 포함되도록 설정 */
}

//영화,시리즈,책,웹툰 css
.storage-row ion-col {
  display: flex;
  flex-direction: column; /* 수직 정렬을 위해 방향 설정 */
  align-items: center; /* 중앙 정렬 */
  background: transparent;
  border: solid 1px #c6c6c6;
  border-radius: 20px;
  color: black;
  font-size: 19px;
  margin: 5px;
  text-align: center;
}
.storage-row ion-icon {
  margin-bottom: 5px; /* 아이콘과 텍스트 간의 간격 */
}

    //.profile-row ion-col{
    //  white-space: nowrap;
    //  background: transparent;
    //  border: solid 1px #c6c6c6;
    //  color: black;
    //  font-size: 19px;
    //  margin: 5px;
    //  text-align: center;
    //}
ion-card {
  padding: 10px; /* 카드 내부 여백 */
}

.profile{
  align-items: center !important;
}
ion-card-header {
  padding-bottom: 8px; /* 카드 헤더와 카드 콘텐츠 간의 간격 */
  display: flex;
  margin-bottom: 15px;
  //align-items: center; // 수직 정렬을 중앙으로
  height: 56px; // 필요에 따라 높이 조정
}

.profile-image-container {
  display: flex;
  justify-content: center; /* 이미지 왼쪽 정렬 */
  margin-bottom: 20px; /* 이미지와 다음 요소 간의 간격 */
  margin-top: 10px;
}

//로그아웃 버튼
ion-buttons {
  margin: 10px 0 0 260px;
}

//ion-button {
//  //--color: #db4a2b;
//}

//ion-card-title{
//  --color: #db4a2b;
//}

.liked-person, .liked-comment {
  //color: #db4a2b;
  font-size: 19px;
  color: black;
  padding: 15px !important;
}
//ion-content {
//  --background-color: lightsalmon;
//}




