/* 웹폰트 직접 로드 예제 */
//@font-face {
//  font-family: 'SUITE-Regular';
//  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
//  font-weight: 400;
//  font-style: normal;
//}
//
//* {
//  font-family: 'SUITE-Regular', sans-serif;
//}
//
//ion-card-header {
//  display: flex;
//  justify-content: space-between;
//  align-items: center;
//}
//.login-title {
//  margin: 0 auto;
//  font-size: 23px; /* 글씨 크기 조정 */
//  font-weight: bold; /* 글씨 굵기 조정 */
//  text-align: center; /* 가운데 정렬 */
//  color:#db4a2b; /* 글씨 색깔 변경 */
//}
//
//ion-item {
//  //--background: #e4e2dd; /* 배경색 */
//  --border-radius: 8px; /* 모서리 둥글기 */
//  --box-shadow: none; /* 그림자 효과 */
//  margin-bottom: 16px; /* 아래쪽 여백 */
//  margin-left: 20px;
//  margin-right: 20px;
//}
//ion-input {
//  --padding-start: 12px; /* 왼쪽 패딩 */
//  --padding-end: 12px; /* 오른쪽 패딩 */
//  --border: 1px solid #ccc; /* 테두리 */
//  --border-radius: 8px; /* 모서리 둥글기 */
//  box-shadow: none;
//  //height: 40px;
//}
//
//
//ion-label {
//  color: black; /* 레이블 색깔을 검은색으로 설정 (선택 사항) */
//
//}
//ion-button {
//  margin: 40px 25px 15px 25px;
//  background-color: #e4e2dd;
//  border-radius: 8px; /* 모서리 둥글기 */
//}
//
//ion-button::part(native) {
//  background-color: #db4a2b;
//  color: #000;
//  border-radius: 4px; /* 모서리 둥글기 */
//}
//
//ion-button:disabled {
//  background-color: gray;
//  color: #000;
//}
//
//.center-text {
//  text-align: center; /* 중앙 정렬 */
//  display: block; /* div로 감싸서 블록 레벨로 설정 */
//}
//
//.account-text {
//  color: grey;
//  font-size: 15px; /* 글씨 크기 설정 (필요에 따라 조정) */
//}
//
//.signup-text {
//  color: #db4a2b;
//  font-size: 15px; /* 글씨 크기 설정 (필요에 따라 조정) */
//  //font-weight: bold; /* 글씨 굵기 설정 (선택 사항) */
//}
//
//.divider-container {
//  display: flex;
//  align-items: center;
//  justify-content: center;
//  margin-top: 20px; /* 위쪽 간격 조정 (필요에 따라 조정) */
//}
//
//.divider-line {
//  border: none;
//  border-top: 1px solid lightgray; /* 구분선 색상과 두께 설정 */
//  flex: 1;
//  margin: 0 10px; /* 구분선과 텍스트 사이의 간격 설정 */
//}
//
//.divider-text {
//  color: grey; /* "or" 텍스트 색상 설정 */
//  font-size: 14px; /* "or" 텍스트 크기 설정 */
//}




/*지민수정*/
/* 웹폰트 직접 로드 예제 */
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

*{
  font-family: 'Pretendard-Regular';
}
ion-item {
  //--background: #e4e2dd; /* 배경색 */
  --border-radius: 8px; /* 모서리 둥글기 */
  --box-shadow: none; /* 그림자 효과 */
  margin-bottom: 16px; /* 아래쪽 여백 */
  margin-left: 20px;
  margin-right: 20px;
}
ion-input {
  --padding-start: 12px; /* 왼쪽 패딩 */
  --padding-end: 12px; /* 오른쪽 패딩 */
  --border: 1px solid #ccc; /* 테두리 */
  --border-radius: 8px; /* 모서리 둥글기 */
  box-shadow: none;
  //height: 40px;
}


ion-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login-title {
  margin: 0 auto;
  font-size: 23px; /* 글씨 크기 조정 */
  font-weight: bold; /* 글씨 굵기 조정 */
  text-align: center; /* 가운데 정렬 */
  color: #e06142; /* 글씨 색깔 변경 */
}

ion-label {
  color: black; /* 레이블 색깔을 검은색으로 설정 (선택 사항) */

}
ion-button {
  margin: 40px 25px 15px 25px;
  background-color: #e4e2dd;
  border-radius: 50px; /* 모서리 둥글기 */
}

ion-button::part(native) {
  background-color: rgb(255, 113, 59);
  color: #1c1c1c;
  border-radius: 50px; /* 모서리 둥글기 */
}

ion-button:disabled {
  background-color: gray;
  color: #000;
}

ion-button.sign-up::part(native){
  background-color: white;
  border: 1px solid;
  color:rgb(255, 113, 59);


}


