@font-face {
  font-family: 'Freesentation-9Black';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

.notice, .notice2{
  font-family: 'Freesentation-9Black';
}

*{
  font-family: 'Pretendard-Regular';
}

.logo_image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  margin: 20px 0;
}
.logo_image img{
  text-align: center;
  width: 120px;
  height: auto;

}
.createAccountTitle {
  margin: 0 auto;
  font-size: 23px;
  font-weight: lighter;
  text-align: center;
  color: #e06142;
}


.text h1{
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  margin: 25px auto 0;

}

form {
 margin: 20px 20px 30px 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  margin-left: 5px;
  font-weight: bold;
  color: #3e3e3e;
  font-size: 18px;

}

input[type="nickname"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: none;
  color:grey;
}

input {
  background-color: #ffffff;
  border: 2px solid rgb(255, 118, 67) !important;
  height: 70px;
  border-radius: 20px !important;
}

input:focus{
  //border-color: rgb(255, 113, 59);
  background-color: rgb(255, 248, 244);
  outline: none;
  border-width: 3px;

}


/* 회원가입 버튼 스타일 */
.signUp {
  margin: 50px 30px 0 30px;
  height: 50px;
  color: #1c1c1c;
  border-radius: 10px; /* 모서리 둥글기 */
}

.signUp::part(native) {
  background-color: #ffffff;
  color: #db4a2b;
  border: 1px solid #db4a2b;
  border-radius: 8px; /* 모서리 둥글기 */
}

ion-button:disabled {
  background-color: white;
  color: #000;
}

.backLoginBtn::part(native) {
  background-color: white;
  color: #000;
}

.notice {
  margin-top: 80px;
  margin-left: 60px;
  font-weight: bold;
  font-size: 26px;
  color: #db4a2b;
}

.notice2 {
  //margin-top: 3px;
  margin-left: 60px;
  font-weight: bold;
  font-size: 26px;
  color: #db4a2b;
}

ion-input{
  --color: #535353;

}

.login-box{
  margin-top: 5px;
  padding: 0 30px;
  //margin-left: 50px;
}

ion-checkbox {
  --size: 20px;
  --checkbox-background-checked: #ffa38f;
}
