<ion-content>
  <div class="person">
    <img class="unknowImage" src="https://upload.wikimedia.org/wikipedia/commons/e/ee/Unknown-person.gif" alt="">
    <div class="info">
      <p class="name">저스틴 프라이스</p>
      <p class="roles">감독, 작가, 배우</p>
    </div>
  </div>
  <hr class="divider">
  <div class="like">
    <ion-icon name="thumbs-up-outline"></ion-icon>
    <p class="좋아요">좋아요</p>
  </div>
  <hr class="divider2">

  <p class="영화">영화</p>
  <!--캐릭터에 해당되는 영화 개수만큼 나열됨-->
  <div class="movie">
    <img class="poster" src="https://i.namu.wiki/i/SGBcGeKiv3hzAm9kARWVY8oaJgGMM9UaV8HrIFTtCSR61uq-WZVKJIDRVz4cEdjkX3h7wkajRe0vNRM6JmHTsg.webp" alt="포스터">
    <div class="info">
      <p class="title">미이라 리턴즈</p>
      <div class="year-role">
        <p class="year">2019 |</p>
        <p class="role">감독</p>
      </div>
      <div class="rating">
        <p>평균</p>
        <ion-icon name="star"></ion-icon>
        <p class="starRate">2.9</p>
      </div>
    </div>
  </div>
  <hr class="divider3">


</ion-content>

