<ion-content class="collection-content">
  <div class="collection-list" style="margin-top: 50px">
    <ion-item *ngFor="let collection of collections" (click)="addMovieToCollection(collection.id)" class="collection-item">
      <ion-label>{{ collection.name }}</ion-label>
    </ion-item>
  </div>

  <ion-button expand="full" class="new-collection-button" (click)="showNewCollectionInput = !showNewCollectionInput">
    새 컬렉션 만들기
  </ion-button>

  <ion-item *ngIf="showNewCollectionInput" class="new-collection-input">
    <ion-label position="floating">새 컬렉션 이름</ion-label>
    <ion-input [(ngModel)]="newCollectionName"></ion-input>
  </ion-item>
  
  <ion-button expand="full" *ngIf="showNewCollectionInput" class="create-collection-button" (click)="createCollection()">
    컬렉션 생성
  </ion-button>
</ion-content>
