<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Welcome to the Board App Page</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      This is the main page of the application. Not Ready to use yet. 🛠️
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <h5>CGV MOVIES</h5>
    </ion-card-header>
    <ion-card-content>
      <swiper-container #swiper_cgv>
          <swiper-slide><a href="https://moviestory.cgv.co.kr/fanpage/mainView;jsessionid=...&movieIdx=88488"><img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000088/88488/88488_320.jpg"></a></swiper-slide>
          <swiper-slide><a href="https://moviestory.cgv.co.kr/fanpage/mainView;jsessionid=...&movieIdx=88531"><img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000088/88531/88531_320.jpg"></a></swiper-slide>
          <swiper-slide><a href="https://moviestory.cgv.co.kr/fanpage/mainView;jsessionid=...&movieIdx=88500"><img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000088/88500/88500_320.jpg"></a></swiper-slide>
          <swiper-slide><a href="https://moviestory.cgv.co.kr/fanpage/mainView;jsessionid=...&movieIdx=88499"><img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000088/88499/88499_320.jpg"></a></swiper-slide>
          <swiper-slide><a href="https://moviestory.cgv.co.kr/fanpage/mainView;jsessionid=...&movieIdx=88485"><img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000088/88485/88485_320.jpg"></a></swiper-slide>
          <swiper-slide><a href="https://moviestory.cgv.co.kr/fanpage/mainView;jsessionid=...&movieIdx=88687"><img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000088/88687/88687_320.jpg"></a></swiper-slide>
          <swiper-slide><a href="https://moviestory.cgv.co.kr/fanpage/mainView;jsessionid=...&movieIdx=77772"><img src="https://img.cgv.co.kr/Movie/Thumbnail/Poster/000077/77772/77772_320.jpg"></a></swiper-slide>
        </swiper-container>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <h5>NETFLIX SERIES</h5>
    </ion-card-header>
    <ion-card-content>
      <swiper-container #swiper_netflix>
        <swiper-slide><a href="https://m.kinolights.com/title/125601"><img src="https://file.kinolights.com/s/content_poster/202408/13/46825657-6778-440a-94b7-5dab55771173.webp"></a></swiper-slide>
        <swiper-slide><a href="https://m.kinolights.com/title/130737"><img src="https://file.kinolights.com/s/content_poster/202406/13/f053a4af-1e1f-4c59-b672-9f1f62450b32.webp"></a></swiper-slide>
        <swiper-slide><a href="https://m.kinolights.com/title/130244"><img src="https://file.kinolights.com/s/content_poster/202407/19/d3c5aa85-ea5d-4be3-a9bf-4302d2ed1b7b.webp"></a></swiper-slide>
        <swiper-slide><a href="https://m.kinolights.com/title/136465"><img src="https://file.kinolights.com/s/content_poster/202409/03/94ec063c-c11a-409a-a72c-f23c1caa1d70.webp"></a></swiper-slide>
        <swiper-slide><a href="https://m.kinolights.com/title/97833"><img src="https://file.kinolights.com/s/content_poster/202307/12/8864e988-b7ae-4c86-98e8-72535905e90c.webp"></a></swiper-slide>
        <swiper-slide><a href="https://m.kinolights.com/title/136323"><img src="https://file.kinolights.com/s/content_poster/202409/03/4e312d56-5ae5-463b-a1f3-319813a70dd9.webp"></a></swiper-slide>
        <swiper-slide><a href="https://m.kinolights.com/title/135659"><img src="https://file.kinolights.com/s/content_poster/202407/30/4a3c4045-b2dc-4811-ac88-a15a6b6356ea.webp"></a></swiper-slide>
        <swiper-slide><a href="https://m.kinolights.com/title/136704"><img src="https://file.kinolights.com/s/content_poster/202409/02/c1af77c5-e5d5-49cb-a865-cf4984a09789.webp"></a></swiper-slide>
        <swiper-slide><a href="https://m.kinolights.com/title/78554"><img src="https://file.kinolights.com/s/content_poster/202307/12/76c46436-adba-45b6-8d90-8e0d7cc0fc5c.webp"></a></swiper-slide>
        <swiper-slide><a href="https://m.kinolights.com/title/111908"><img src="https://file.kinolights.com/s/content_poster/202309/11/0115be6e-ef82-46f9-b31b-92b5e26c83cb.webp"></a></swiper-slide>
      </swiper-container>
    </ion-card-content>
  </ion-card> 
</ion-content>
