<ion-header>
  <ion-toolbar>
    <ion-title>코멘트 목록</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="comment-list">
    <ion-card *ngFor="let item of comments" class="comment-card">
      <ion-row>
        <ion-col size="2" class="poster-col">
          <ion-img [src]="item.posterUrl" alt="Movie Poster" class="movie-poster"></ion-img>
        </ion-col>
        <ion-col size="10" class="content-col">
          <ion-card-header>
            <ion-card-title class="movie-title">{{ item.movieTitle }}</ion-card-title>
          </ion-card-header>
          
          <ion-card-content>
            <!-- 사용자 정보 -->
            <div class="user-info">
              <ion-label>
                <h3>{{ item.username }}</h3>
                <p>{{ item.comment.commentContent }}</p>
              </ion-label>
            </div>

            <!-- 좋아요, 싫어요 버튼 -->
            <div class="interaction-buttons">
              <ion-button fill="clear" color="primary" size="small">
                <ion-icon name="thumbs-up-outline"></ion-icon> {{ item.comment.favoriteCount }}
              </ion-button>
              <ion-button fill="clear" color="danger" size="small">
                <ion-icon name="thumbs-down-outline"></ion-icon> {{ item.comment.dislikeCount }}
              </ion-button>
            </div>
          </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
</ion-content>
